#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createPlaceInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPlaceInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Place $colStr VALUES $valStr", "SELECT * FROM Place WHERE id=$ctx.args.createPlaceInput.id"]
}